
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    font-family: sans-serif;
}
/* common color */
:root{
    --first-color: #198754;
    --second-color: #000;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: 1px solid;
    padding: 0!important;
    font: inherit;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #198754 !important;
    color: #FFF;
    text-decoration: none;
}
/* header */
.logo{
    width: 65px;
}
.nav-item {
    margin-left: 20px;
    text-transform: uppercase;
}
.nav-item a{
    font-weight: 700;
    text-transform: uppercase;
    }
.but-color{
    background-color:var(--first-color) ;
    color: #fff;
    border-radius: 20px;
    margin-left: 20px;
}
.but-color:hover{
    background-color:var(--second-color) ;
    color: #fff;
}
.new-drop{
    margin-left: 23px;
}
.dre{
    font-weight: 700;
    text-transform: uppercase;
}
.dropdown-menu li a{
    font-weight: 700;
    text-transform: uppercase;
}
.dropdown-menu li a:hover{
    background-color: rgba(41, 34, 34, 0.6);
}
.dropdown-menu {
    padding: 0px;
    margin: 0px;
}
.tilte{
    justify-content: end;
}
/* footer */
.footer-logo{
    width: 100px;
}
.icon-body {
    font-size: 35px !important;
    color: #000 !important;
    cursor: pointer;
}
.icon-body:hover{
    font-size: 35px !important;
    color: #198754!important;
    cursor: pointer;
}
.mes >h6{
   font-size: 15px;
   font-weight: bold;
}
.mes >p{
    font-size: 12px;
    font-weight: 200;
}
.ic-co{
    text-decoration-line: none !important;
    color: #000 !important;
    font-size: 12px;
}
.bg-head{
    background-image: url('../image/Group-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    /* display: flex;
    align-items: center; */
}
.get{
    font-weight: 900;
}
.get span{
    color: #ff0000 !important;
}
.gets-ready {
    display: flex;
    align-items: center;
    margin-top: 10%;
}
.mess{
    display: flex;
    justify-content: end;
}
.mens{
    /* width: 340px; */
    width: 26.6rem;
    display: flex;
    justify-content: end;
}
.new-s{
    text-align: center;
    padding-top: 15px;
    font-weight: 900;
    background: linear-gradient(45deg,red,#6CBCFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.men-01{
    border: 0px solid #000;
    border-radius: 20px;
    transition: 1s;
    width: 135px;
}
.men-01:hover{
    transform: scale(1.1);
}
.card{
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.more{
    display: flex;
    justify-content: end;
}
.links{
    color: #000 !important;
    text-decoration-line: none !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.full-men{
  background-image: url('../image/men-full.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
display: flex;
}
.Enjoys{
color: #fff;
font-size: 30px;
}
/* men */
.col-bgs{
    background-color: #C4C4C4 !important;
    display: flex;
}
.menson{
    width: 22.5rem;
    display: flex;
    justify-content: end;
    filter: drop-shadow(2px 0px 6px black);
}
.menss-1{
        /* width: 340px; */
        width: 19.6rem;
        display: flex;
        justify-content: end;
        filter: drop-shadow(2px 0px 6px black);
}
/* .home-demo .item {
    background: #ff3f4d;
} */
.text-3d {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #555;
    transform: perspective(300px) rotateX(20deg);
}
.text-3ds {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #555;
    transform: perspective(2059px) rotateX(20deg);
}
#star{
    
    color: #000;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
.bl-bt {
    background-color: var(--first-color)!important;
    border-radius: 10px;
    margin-top: 10px;
}
.bl-bt:hover{
    background-color: #fff !important; 
    border: 1px solid #198754;
}
.a-bl{
    text-decoration-line: none !important;
    color: #fff !important;
}
.a-bl:hover{
    text-decoration-line: none !important;
    color: #000 !important;
}
.shirt{
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 30px;
}
.owl-dots{
    display: none !important;
}
.menssa{
    background-image: url('../image/men-last.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 564px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.meen-01{
   
    border-radius: 20px;
    transition: 1s;
}
.meen-01:hover{
    transform: scale(1.1);
}
/* womendress */

.womensdess{
    margin-top: 42px;
    width: 22.5rem;
    display: flex;
    justify-content: end;
}
.menss-12 {
    /* width: 340px; */
    width: 23.6rem;
    display: flex;
    justify-content: center;
    margin-top: 84px;
    margin-left: -43px;
}
.col-bgs-1{
    background-color: #000000 !important;
    display: flex;
}
.get-1{
    font-weight: 900;
    color: #fff;
}
.get-1 span{
    color: #ff0000 !important;
}
.new-ready{
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.new-reda {
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
}
.ready-collection{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.new-shoes {
    width: 100%;
    height: 510px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 100px;
}
.box-1 {
    background-color: #000;
    display: flex;
    align-items: center;
    text-align: center;
}
.many-s{
    color: #fff;
    font-weight: 800;
}
.many-offer{
    color: #ff0000;
    font-weight: 800;
    text-align: center;
}
.box {
    border: 1px solid black;
}
.shoes-1{
    height: 275px;
    width: 100%;
}
.cor-shoe{
    height: 170px;
    transition: 1s;
    cursor: pointer;
    transition: transform .2s;
}
.cor-shoe:hover{
    transform: scale(1.1);
}
.ses{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        overflow: hidden;
}
.cor-shoe-1{
    height: 150px;
    transition: 1s;
    cursor: pointer;
    transition: transform .2s;
}
.cor-shoe-1:hover{
    transform: scale(1.1);
}
.ses-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        overflow: hidden;
}
.box-11 {
    background-color: #000;
    display: flex;
    align-items: center;
justify-content: center;

}
.new-mar{
    margin-bottom: 50px;
    margin-top: 50px;
}

  .logos{
    height: 30px;
    cursor: pointer;
  }
  .logos-1{
    height: 50px;
    cursor: pointer;
  }
  .logos-2{
    height: 56px;
    cursor: pointer;
  }
  .marquee-container {
    height: 50px;
    overflow: hidden;
    line-height: 30px;
  
    .marquee {
      top: 0;
      left: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      animation: marquee 30s linear infinite;
    }
  
    .marquee2 {
      animation-delay: 15s;
    }
    b {
      padding-left: 10px;
    }
  }
  
  @keyframes marquee {
    0% {
      left: 100%;
    }
    100% {
      left: -100%
    }
  }



.slideshow {
    position: relative;
    width: 100%;
    height: 169%;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 80%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.active {
    opacity: 1;
}

@media (min-width:1300px) and (max-width:1490px){
    .slideshow {
        position: relative;
        width: 100%;
        height: 160% !important;
        overflow: hidden;
    }
}

@media (min-width:1500px) and (max-width:1890px){
    .slideshow {
        position: relative;
        width: 100%;
        height: 160% !important;
        overflow: hidden;
    }
}

@media (min-width:1900px) {
    .slideshow {
        position: relative;
        width: 100%;
        height: 160%;
        overflow: hidden;
    }
}
.carsd {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.why{
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    border-bottom:2px solid ;
    width: 29%;
}
.cen-line{
    display: flex;
    justify-content: center;
}

.img-svg{
    width: 80px;
}
.frees{
    font-weight: 800;
}
.bg-crd {
    background-color: #002c3e;
    color: #ffffff;
    padding: 20px;
}
.newsa{
    display: flex;
    justify-content: center;
}
.product_section .box {
    position: relative;
    margin-top: 25px;
    padding: 35px 35px;
    background-color: #f7f8f9;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,.2);
    border: solid #fff 10px;
}
.product_section .box:hover .option_container {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.product_section .option_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    opacity: 0;
    transition: all .2s;
    transform: translateY(100%);
}
.product_section .options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_section .box .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
}
.product_section .box .img-box img {
    max-width: 100%;
    max-height: 160px;
    transition: all .3s;
}
.product_section .box .detail-box {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.product_section .box .detail-box h5 {
    font-size: 18px;
    margin-top: 10px;
}
.product_section .box .detail-box h6 {
    margin-top: 10px;
    color: #002c3e;
    font-weight: 600;
}
.product_section .options .option1 {
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
}
.product_section .options .option2 {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
.product_section .options .option2:hover {
    background-color: transparent;
    color: #000000;
}
.product_section .options .option1:hover {
    background-color: transparent;
    color: #f7444e;
}
.product_section .options a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
    width: 165px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 5px 0;
    text-decoration-line: none;
}

/* contact */
#pink-color {
    border: 2px solid rgb(193 193 193);
}
#loc {
    width: 30px;
}
.Office-Location {
    font-weight: bolder;
    color: black;
}
.suite-s {
    color: rgba(146, 146, 146, 1);
}
#int {
    background-color: transparent;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.in-border {
    border: 1px solid rgba(146, 146, 146, 1);
}
#sum-btn {
    font-size: 15px;
    background-color: rgb(193 193 193);
}
.sm {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

@media (max-width:540px){
    .menson {
       display: none;
    }
    .menssa {
        height: 168px;
      
    }
    .new-reda {
        height: 165px;
        border-radius: 20px;
        box-shadow: 5px 5px 20px;
    }
    .item .card{
        width: 20rem !important;
    }
    .cor-shoe {
        height: 68px;
    }
    .cor-shoe-1 {
        height: 68px;
   
    }
    .shoes-1 {
        height: 200px;
        width: 100%;
    }
    .new-shoes {
        width: 100%;
        height: 320px;

    }
    .many-s {
        color: #fff;
        font-weight: 800;
        font-size: 12px;
    }
    .new-drop {
        margin-left: 9px;
    }
    .but-color {
        background-color: var(--first-color);
        color: #fff;
        border-radius: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
}
.item {
    display: flex;
    justify-content: center;
}
#sum-btn:hover{
    font-size: 15px;
    background-color: var(--first-color);
}
.footsec{
    background-color: #000;
  
}
.years {
    color: #fff;
    text-align: center;
    padding: 25px;
    margin-bottom: 0px;
}
.footsec span{
    color: #ff0000;
}
.quality{
    height: 70px;
}